NET "a_<0>"  LOC = P124 | IOSTANDARD = LVTTL;
NET "a_<1>"  LOC = P123 | IOSTANDARD = LVTTL;
NET "a_<2>" LOC = P127 | IOSTANDARD = LVTTL;
NET "a_<3>" LOC = P126 | IOSTANDARD = LVTTL;
NET "a_<4>" LOC = P132 | IOSTANDARD = LVTTL;
NET "a_<5>" LOC = P131 | IOSTANDARD = LVTTL;
NET "a_<6>" LOC = P134 | IOSTANDARD = LVTTL;
NET "a_<7>" LOC = P133 | IOSTANDARD = LVTTL;
NET "a_<8>" LOC = P33 | IOSTANDARD = LVTTL;
NET "a_<9>" LOC = P32 | IOSTANDARD = LVTTL;
NET "a_<10>" LOC = P35 | IOSTANDARD = LVTTL;
NET "a_<11>" LOC = P34 | IOSTANDARD = LVTTL;
NET "a_<12>" LOC = P41 | IOSTANDARD = LVTTL;
NET "a_<13>" LOC = P40 | IOSTANDARD = LVTTL;
NET "a_<14>" LOC = P51 | IOSTANDARD = LVTTL;
NET "a_<15>" LOC = P50 | IOSTANDARD = LVTTL;