// output make_a-->a
// need to change the LOC
NET "make_a<15>" LOC = P51 | IOSTANDARD = LVTTL;
NET "make_a<14>" LOC = p41 | IOSTANDARD = LVTTL;
NET "make_a<13>" LOC = p35 | IOSTANDARD = LVTTL;
NET "make_a<12>" LOC = p33 | IOSTANDARD = LVTTL;
NET "make_a<11>" LOC = P30 | IOSTANDARD = LVTTL;
NET "make_a<10>" LOC = p27 | IOSTANDARD = LVTTL;
NET "make_a<9>" LOC = p24 | IOSTANDARD = LVTTL;
NET "make_a<8>" LOC = p22 | IOSTANDARD = LVTTL;
NET "make_a<7>" LOC = P17 | IOSTANDARD = LVTTL;
NET "make_a<6>" LOC = p15 | IOSTANDARD = LVTTL;
NET "make_a<5>" LOC = p12 | IOSTANDARD = LVTTL;
NET "make_a<4>" LOC = p10 | IOSTANDARD = LVTTL;
NET "make_a<3>" LOC = P8 | IOSTANDARD = LVTTL;
NET "make_a<2>" LOC = p6 | IOSTANDARD = LVTTL;
NET "make_a<1>" LOC = p2 | IOSTANDARD = LVTTL;
NET "make_a<0>" LOC = p144 | IOSTANDARD = LVTTL;

// input from led to be A inputs
NET "a<15>" LOC = P50 | IOSTANDARD = LVTTL;
NET "a<14>" LOC = p40 | IOSTANDARD = LVTTL;
NET "a<13>" LOC = p34 | IOSTANDARD = LVTTL;
NET "a<12>" LOC = p32 | IOSTANDARD = LVTTL;
NET "a<11>" LOC = P29 | IOSTANDARD = LVTTL;
NET "a<10>" LOC = p26 | IOSTANDARD = LVTTL;
NET "a<9>" LOC = p23 | IOSTANDARD = LVTTL;
NET "a<8>" LOC = p21 | IOSTANDARD = LVTTL;
NET "a<7>" LOC = P16 | IOSTANDARD = LVTTL;
NET "a<6>" LOC = p14 | IOSTANDARD = LVTTL;
NET "a<5>" LOC = p11 | IOSTANDARD = LVTTL;
NET "a<4>" LOC = p9 | IOSTANDARD = LVTTL;
NET "a<3>" LOC = P7 | IOSTANDARD = LVTTL;
NET "a<2>" LOC = p5 | IOSTANDARD = LVTTL;
NET "a<1>" LOC = p1 | IOSTANDARD = LVTTL;
NET "a<0>" LOC = p143 | IOSTANDARD = LVTTL;

// result outputs
NET "r<15>" LOC = P51 | IOSTANDARD = LVTTL;
NET "r<14>" LOC = p41 | IOSTANDARD = LVTTL;
NET "r<13>" LOC = p35 | IOSTANDARD = LVTTL;
NET "r<12>" LOC = p33 | IOSTANDARD = LVTTL;
NET "r<11>" LOC = P30 | IOSTANDARD = LVTTL;
NET "r<10>" LOC = p27 | IOSTANDARD = LVTTL;
NET "r<9>" LOC = p24 | IOSTANDARD = LVTTL;
NET "r<8>" LOC = p22 | IOSTANDARD = LVTTL;
NET "r<7>" LOC = P17 | IOSTANDARD = LVTTL;
NET "r<6>" LOC = p15 | IOSTANDARD = LVTTL;
NET "r<5>" LOC = p12 | IOSTANDARD = LVTTL;
NET "r<4>" LOC = p10 | IOSTANDARD = LVTTL;
NET "r<3>" LOC = P8 | IOSTANDARD = LVTTL;
NET "r<2>" LOC = P6 | IOSTANDARD = LVTTL;
NET "r<1>" LOC = P2 | IOSTANDARD = LVTTL;
NET "r<0>" LOC = p144 | IOSTANDARD = LVTTL;
