// output b-->a
// need to change the LOC
NET "b15" LOC = P51 | IOSTANDARD = LVTTL;
NET "b14" LOC = p41 | IO STANDARD = LVTTL;
NET "b13" LOC = p41 | IO STANDARD = LVTTL;
NET "b12" LOC = p41 | IO STANDARD = LVTTL;
NET "b11" LOC = P51 | IOSTANDARD = LVTTL;
NET "b10" LOC = p41 | IO STANDARD = LVTTL;
NET "b9" LOC = p41 | IO STANDARD = LVTTL;
NET "b8" LOC = p41 | IO STANDARD = LVTTL;
NET "b7" LOC = P51 | IOSTANDARD = LVTTL;
NET "b6" LOC = p41 | IO STANDARD = LVTTL;
NET "b5" LOC = p41 | IO STANDARD = LVTTL;
NET "b4" LOC = p41 | IO STANDARD = LVTTL;
NET "b3" LOC = P51 | IOSTANDARD = LVTTL;
NET "b2" LOC = p41 | IO STANDARD = LVTTL;
NET "b1" LOC = p41 | IO STANDARD = LVTTL;
NET "b0" LOC = p41 | IO STANDARD = LVTTL;

// input from led to be A inputs
NET "a15" LOC = P51 | IOSTANDARD = LVTTL;
NET "a14" LOC = p41 | IO STANDARD = LVTTL;
NET "a13" LOC = p41 | IO STANDARD = LVTTL;
NET "a12" LOC = p41 | IO STANDARD = LVTTL;
NET "a11" LOC = P51 | IOSTANDARD = LVTTL;
NET "a10" LOC = p41 | IO STANDARD = LVTTL;
NET "a9" LOC = p41 | IO STANDARD = LVTTL;
NET "a8" LOC = p41 | IO STANDARD = LVTTL;
NET "a7" LOC = P51 | IOSTANDARD = LVTTL;
NET "a6" LOC = p41 | IO STANDARD = LVTTL;
NET "a5" LOC = p41 | IO STANDARD = LVTTL;
NET "a4" LOC = p41 | IO STANDARD = LVTTL;
NET "a3" LOC = P51 | IOSTANDARD = LVTTL;
NET "aa2" LOC = p41 | IO STANDARD = LVTTL;
NET "a1" LOC = p41 | IO STANDARD = LVTTL;
NET "a0" LOC = p41 | IO STANDARD = LVTTL;

// result outputs
NET "r15" LOC = P51 | IOSTANDARD = LVTTL;
NET "r14" LOC = p41 | IO STANDARD = LVTTL;
NET "r13" LOC = p41 | IO STANDARD = LVTTL;
NET "r12" LOC = p41 | IO STANDARD = LVTTL;
NET "r11" LOC = P51 | IOSTANDARD = LVTTL;
NET "r10" LOC = p41 | IO STANDARD = LVTTL;
NET "r9" LOC = p41 | IO STANDARD = LVTTL;
NET "r8" LOC = p41 | IO STANDARD = LVTTL;
NET "r7" LOC = P51 | IOSTANDARD = LVTTL;
NET "r6" LOC = p41 | IO STANDARD = LVTTL;
NET "r5" LOC = p41 | IO STANDARD = LVTTL;
NET "r4" LOC = p41 | IO STANDARD = LVTTL;
NET "r3" LOC = P51 | IOSTANDARD = LVTTL;
NET "r2" LOC = p41 | IO STANDARD = LVTTL;
NET "r1" LOC = p41 | IO STANDARD = LVTTL;
NET "r0" LOC = p41 | IO STANDARD = LVTTL;