NET "sum" LOC = P41 | IOSTANDARD = LVTTL;
NET "cout" LOC = P134 | IOSTANDARD = LVTTL;

NET "sum2" LOC = P35 | IOSTANDARD = LVTTL;
NET "cout2" LOC = P138 | IOSTANDARD = LVTTL;

NET "failsum" LOC = P22 | IOSTANDARD = LVTTL;
NET "failcout" LOC = P10 | IOSTANDARD = LVTTL;